.button {
    /*-fx-background-color: linear-gradient(to top,#4b6cb7, #182848);*/
    -fx-background-color: #14cc08;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button:hover{
    -fx-background-color: #84e179;
    -fx-font-size: 12;
    -fx-text-fill: white;
}




